/**
 * @type {{classname}}{{#description}}
 * {{{.}}}{{/description}}
 */
export interface {{classname}} {
{{#vars}}
{{#description}}
    /**
     * {{{.}}}
     */
{{/description}}
    '{{name}}'{{^required}}?{{/required}}: {{{dataType}}};
{{/vars}}
}
