{
  "name": "{{npmName}}",
  "version": "{{npmVersion}}",
  "description": "OpenAPI client for {{npmName}}",
  "author": "OpenAPI-Generator Contributors",
  "repository": {
    "type": "git",
    "url": "git+https://{{gitHost}}/{{gitUserId}}/{{gitRepoId}}.git"
  },
  "keywords": [
    "axios",
    "typescript",
    "openapi-client",
    "openapi-generator",
    "{{npmName}}"
  ],
  "license": "Unlicense",
  "main": "./dist/index.js",
  "typings": "./dist/index.d.ts",
{{#supportsES6}}
  "module": "./dist/esm/index.js",
  "sideEffects": false,
{{/supportsES6}}
  "scripts": {
    "build": "tsc {{#supportsES6}}&& tsc -p tsconfig.esm.json{{/supportsES6}}",
    "prepare": "npm run build",
    "test-unit": "jest --coverage --detectOpenHandles --testPathPattern=tests/unit",
    "test-smoke": "jest --coverage --detectOpenHandles --testPathPattern=tests/smoke",
    "test": "jest --coverage --detectOpenHandles"
  },
  "dependencies": {
    "axios": "^1.7.2",
    "xmlbuilder2": "^3.1.1"
  },
  "devDependencies": {
    "@types/node": "^12.11.5",
    "@types/jest": "^29.5.12",
    "jest": "^29.7.0",
    "ts-jest": "^29.1.1",
    "typescript": "^5.0"
  }{{#npmRepository}},{{/npmRepository}}
{{#npmRepository}}
  "publishConfig": {
    "registry": "{{npmRepository}}"
  }
{{/npmRepository}}
}
